.heading{
	text-align:center;
	font-size: 40px;
}
.banner
{
	width: 100%;
}
.card-title{
	font-size: 20px;
}
.card
{
	border: 2px solid #222;
	margin-top: 20px;
}
.ft{
	text-align: center;
	background: #00F;
	color:#FFF;
	padding: 20px;
	margin-bottom: 35px;
	margin-top: 25px;
}
body{
	background: url("b.jpg") fixed;
	background-repeat: no-repeat;
	background-size: cover;

}